/* default styling for untappd brewery plugin.
*/
.untappdbrewery {
	.beer_wrapper {
		padding-bottom: 10px;
		clear: both;
		.beer_img_wrapper {
			float: left;
			padding-right: 20px;
			width: 100px;
		}
		.beer_name {
			color: white;
		}
		.beer_abv,
		.beer_ibu {
			display: inline-block;
			padding-left: 5px;
		}
	}

}
